
@{
    ViewData["Title"] = "Cleaning";
}

<script src="js/script.js"></script>

<!-- НОВЫЕ ФАЙЛЫ ДЛЯ ЭТОЙ СТРАНИЦЫ -->
<link href="css/style-page1.css" rel="stylesheet">
<link href="js/owl-carousel/owl.carousel.css" rel="stylesheet">
<link href="js/featherlight/featherlight.css" rel="stylesheet">
<link href="js/youtubebackground/style.css" rel="stylesheet">

<script src="js/owl-carousel/owl.carousel.min.js"></script>
<script src="js/featherlight/featherlight.js"></script>
<script src="js/youtubebackground/jquery.youtubebackground.js"></script>
<script src="js/backstretch/jquery.backstretch.min.js"></script>
<script src="js/jquery.cookie/jquery.cookie.js"></script>
<script src="js/script-page1.js"></script>

<div class="centered">
    <div id="page1-block1" data-video-id="8gQf50eWcu8">

        <div class="inner">
            <h1>Премиум уборка</h1>
            <h1>квартир</h1>
            <h1>коттеджей</h1>
            <h1>таунхаусов</h1>
            <h1>офисов</h1>
            <h1>
                <a href="tel:+74953696808" style="color: #fff; text-decoration: none;"><i class="fa fa-phone"></i> +7 (495) 3-696-808</a>
            </h1>
            <h1>
                Чисто для <br> <span data-words="тебя|вас|всех"></span>
            </h1>
            <a href="/public/order" class="btn"><i></i><span>Рассчитать стоимость<br />уборки</span></a>

        </div>

    </div>

    <div id="page1-block2">
        <div class="centered">

            <ul>
                <li>
                    <div class="img">
                        <img src="images/page1/block2-1.png" alt="">
                    </div>
                    <strong>Удобное <br />для Вас время</strong>
                    <p>Точно в установленное время Исполнитель будет у Вашей двери со всем необходимым инвентарем и хорошим настроением</p>
                </li>
                <li>
                    <div class="img">
                        <img src="images/page1/block2-3.png" alt="">
                    </div>
                    <strong>Только проверенные <br />специалисты</strong>
                    <p>Все наши исполнители проходят тщательный отбор и проверку службой безопасности. Мы обучаем их в лучших школах клининга и строго следим за качеством их работы</p>
                </li>
                <li>
                    <div class="img">
                        <img src="images/page1/block2-2.png" alt="">
                    </div>
                    <strong>Экологичная уборка <br />пробиотиками</strong>
                    <p>
                        Наши моющие средства не имеют аналогов в мире. Они оздоравливают пространство в Вашем Доме, заполняя поверхности полезными бактериями, сокращая количество респираторных заболеваний и аллергий
                    </p>
                </li>
                <li>
                    <div class="img">
                        <img src="images/page1/block2-4.png" alt="">
                    </div>
                    <strong>Самый честный <br />подход</strong>
                    <p>Вы платите за выполненную работу. Если Вас что-то не устроило, мы обязательно найдем решение ситуации и будем работать до тех пор, пока результат Вас полностью не удовлетворит</p>
                </li>
            </ul>

        </div>
    </div>
    <div id="page1-block2-1">
        <div class="centered">
            <div class="page1-title1">Стоимость услуг</div>

            <ul>
                <li>
                    <div class="img">
                        <img src="images/page1/block3-1.png" alt="">
                    </div>
                    <span>Уборка квартиры <a href="http://clean4u.ru/public/faq/17" style="font-size: 0.7em; color: #fff;">что входит?</a></span>
                    <p>
                        1 комнатная 1980 руб.<br />
                        2 комнатная 2480 руб.<br />
                        3 комнатная 2980 руб.<br />
                        4 комнатная 3680 руб.<br />
                        5 комнатная 3980 руб.<br /><br />
                        Здоровый малыш +40% к стоимости<br />
                        Здоровый питомец +40% к стоимости<br /><br />
                        Генеральная уборка 90р. кв. метр<br />
                        Уборка после ремонта 110р. кв. метр<br />
                    </p>
                </li>
                <li>
                    <div class="img">
                        <img src="images/page1/block3-2.png" alt="">
                    </div>
                    <span>Уборка дома <a href="http://clean4u.ru/public/faq/65" style="font-size: 0.7em; color: #fff;">что входит?</a></span>
                    <p>
                        Разовая уборка 50р. кв. метр<br />
                        Раз в месяц 45р. кв. метр<br />
                        Раз в две недели 40р. кв. метр<br />
                        Раз в неделю 35р. кв. метр<br />
                        Выезд за пределы МКАД 30р. км.<br /><br />
                        Здоровый малыш +40% к стоимости<br />
                        Здоровый питомец +40% к стоимости<br /><br />
                        Генеральная уборка 90р. кв. метр<br />
                        Уборка после ремонта 110р. кв. метр<br />
                    </p>
                </li>
                <!--li>
                <div class="img"><img src="images/page1/block3-3.png" alt=""></div>
                <span>Уборка офиса</span>
                <p>
                    Поддерживающая уборка 35р. кв. метр<br/><br/>
                    Генеральная уборка 80р. кв. метр<br/>
                    Уборка после ремонта 110р. кв. метр
                </p>
                </li-->
                <li>
                    <div class="img">
                        <img src="images/page1/block3-4.png" alt="">
                    </div>
                    <span>Дополнительные опции</span>
                    <p>

                        Доставить ключи 300р.<br />
                        Холодильник 550р.<br />
                        Духовка 550р.<br />
                        Внутри кухонных шкафов 600р.<br />
                        Помыть посуду 300р.<br />
                        Внутри микроволновки 350р.<br />
                        Глажка 600р.<br />
                        Окна 350р.<br />
                        Балконы 600р.<br />
                        Доп. санузел 500р.
                    </p>
                </li>
            </ul>
            <div style="text-align: center; margin: 25px;">
                <a href="/public/order" class="btn"><i></i><span>Заказать уборку</span></a>
            </div>
        </div>
    </div>
    <!--div id="page1-block4">
    <div class="centered">

        <div class="page1-title1">Как мы работаем</div>

        <ul>
            <li style="left: 0;">
                <span><i>1</i></span>
                <strong>Закажите уборку</strong>
                <p></p>
            </li>
            <li style="left: 50%;">
                <span><i>2</i></span>
                <strong>Дождитесь клинера</strong>
                <p></p>
            </li>
            <li style="left: 100%;">
                <span><i>3</i></span>
                <strong>Платите за результат</strong>
                <p></p>
            </li>
        </ul>

        <div class="desc"></div>

    </div>
    </div-->

    <div id="page1-block5" data-images="images/page1/background-slider/1.jpg,images/page1/background-slider/2.jpg">
        <div class="centered">

            <div class="text">
                <div class="line2">
                    Вы <span>довольны</span>. Мы <span>счастливы</span>.
                </div>
            </div>

        </div>
    </div>

    <div id="page1-block6">
        <div class="centered">

            <div class="page1-title1">Отзывы клиентов</div>

            <div class="page1-carousel page1-carousel1">
                <div class="items">
                    <div class="item">
                        <div class="comment">
                            <div class="img">
                                <img src="images/rev3.jpg" alt="">
                            </div>
                            <div class="text">Как хорошо, что есть такая замечательная служба по Клинингу как clean4u. Девчонки очень оперативно и Главное чисто, очень чисто прибрались у меня дома! Спасибо большое компании clean4u. Теперь буду постоянной клиенткой.</div>
                            <div class="name">Анастасия Лисова</div>
                            <div class="desc">Телеведущая</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="comment">
                            <div class="img">
                                <img src="images/rev13.jpg" alt="">
                            </div>
                            <div class="text">
                                Генеральную уборку сделать самой нереально. Можно поддерживать порядок в квартире, но генералить самой очень сложно. Хорошо, что есть такие помощники, как Clean4U. Три девушки-клинера привели в порядок мою квартиру: вымыли стены, потолки, оттерли до блеска кухню и санузлы. Спасибо , Clean4U!
                            </div>
                            <div class="name">Дана Борисова</div>
                            <div class="desc">Телеведущая</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="comment">
                            <div class="img">
                                <img src="images/rev11.jpg" alt="">
                            </div>
                            <div class="text">
                                Моя холостяцкая квартира превратилась в ослепляющее белизной "гнездо", язык не поворачивается назвать её "холостяцкой берлогой". То, что не поддавалось никаким едким химикатам и моему стремлению очистить "вековые накипи", сдалось, растаяло и засверкало, благодаря профессиональному подходу, и самое интересное, заинтересованности в положительном результате, представительнице замечательной компании . <br /> Спасибо Вам за профессионализм и человеческое отношение к тому, что Вы делаете!
                            </div>
                            <div class="name">Михаил Полосухин</div>
                            <div class="desc">Заслуженный артист России</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="comment">
                            <div class="img">
                                <img src="images/rev19.jpg" alt="">
                            </div>
                            <div class="text">До сегодняшнего дня не пользовалась услугами клининговой компании. И все же я решила упростить жизнь, ведь проводить генеральную уборку в доме , где 400 квадратов и 2 этажа нужно сутки!Позвала на помощь весёлых девчат из компании clean4u. Какие же они молодцы!!! Дружно и весело справились с уборкой на все 100%!!!! Не одна пылинка не осталась не замечена!!! Все вытяжки, батареи, люстры, - каждый уголок блестит!!! Я очень довольна и всем советую. Девочки работают на совесть. Не халтурят , как многие !!!</div>
                            <div class="name">Yakunina</div>
                            <div class="desc"></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="comment">
                            <div class="img">
                                <img src="images/rev20.jpg" alt="">
                            </div>
                            <div class="text">
                                Я уже писала, что была поражена результатами работы клининговой компании Чисто для Вас . И подумала , что отличной идеей будет переложить заботу о порядке в доме и моего дедушки на плечи замечательного сервиса. Хочу выразить большую искреннюю благодарность за прекрасную работу девочкам из компании_ . Клинеры используют в работе настоящие пробиотики, привозят с собой парогенераторы, ультрафиолетовые пылесосы , озонаторы, даже видеокамеры , если попросите. Это не реклама. Это искренняя рекомендация моих друзей!
                            </div>
                            <div class="name">Анастасия</div>
                            <div class="desc"></div>
                        </div>
                    </div>
                    <!--div class="item">
                    <div class="comment">
                        <div class="img"><img src="images/sveta.jpg" alt=""></div>
                        <div class="text">Я уже успела заказать две поддерживающие уборки, осталась довольна, а так как у ребят официальный запуск сайта 3 сентября (я договаривалась об уборке просто через их Инстаграм), решила рассказать об этих фанатах своего дела
                            Вот что меня изначально подкупило и зацепило:<br/>
                            довольно интересные пакеты, необычные средства и такая общая ориентированность услуг на мамочек. <br/>
                            Я конечно не супер-продвинутый пользователь клининга, но услугу "Здоровый малыш", например, нигде не встречала. Это подготовка квартиры или комнаты к возвращению из роддома - дополнительно к уборке очищение воздуха бактерицидным рециркулятором , уборка ультрафиолетовым пылесосом, уничтожение пылевых клещей, мытье игрушек обеззараживающими средствами. </div>
                        <div class="name">Светлана</div>
                        <div class="desc">Блогер</div>
                    </div>
                    </div-->
                    <div class="item">
                        <div class="comment">
                            <div class="img">
                                <img src="images/inga.jpg" alt="">
                            </div>
                            <div class="text">Впервые рекомендую клининговую компанию! Потому что моя квартира никогда не была такой чистой! В общем, если сомневаетесь, - то зря! Эти ребята - профи!</div>
                            <div class="name">Инга</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="comment">
                            <div class="img">
                                <img src="images/rev1.jpg" alt="">
                            </div>
                            <div class="text">
                                Приехали две симпатичные девушки, привезли с собой огромную сумку и два рюкзаками. Сразу же оглядели фронт работы и вперёд! Кухня+ванная и туалет = ушло часа 2-3. Я честно немного подглядывала и поражалась новым технологиям ??: парогенератор , средства с пробиотиками и ещё много новых слов , которые я выучила после уборки!<br />
                                Ну, то что все блестело -это и ежу ясно. Но девочки вымыли вытяжку, продезинфицировали все ручки дверей и сантехнику! <br />
                                А последнее просто меня добило ( в хорошем смысле). Мне дали список того, что они сделали, чтобы я по списку смогла все проконтролировать! <br />
                                Короче, верьте или нет, но лично я генералить буду фей из Clean4U!!
                            </div>
                            <div class="name">Александра</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="comment">
                            <div class="img">
                                <img src="images/rev2.jpg" alt="">
                            </div>
                            <div class="text">Вчера с 11 утра и до 21 вечера у нас трудились девочки из новой клининговой компании ??Домик заблестел и задышал!!!?? Всем рекомендую данный сервис! Дарят чистоту, комфорт и массу свободного времени!!!??</div>
                            <div class="name">Александра Лешина</div>
                        </div>
                    </div>
                    <!--div class="item">
                    <div class="comment">
                        <div class="img"><img src="images/rev4.jpg" alt=""></div>
                        <div class="text">Приезжали настоящие волшебницы из клининговой компании Clean4U! Как круто , что на рынке есть такие компании. Приехали две девушки, в такой красивой форме. Принесли с собой видеокамеры ! Если Вас нет дома - это идеальное решение ! Можете по телефону наблюдать за происходящим, установив приложение , можете попросить Вам запись прислать потом на почту. Моющие средства нового поколения - настоящие пробиотики!<br/>
                            Говорят , что их постоянное использование сокращает случаи аллергий, ОРВИ и прочей гадости. Будем проверять! Так как я хотела попробовать пакет "Здоровый Малыш", привезли с собой оборудование: озонаторы, ультрафиолетовый пылесос и бактерицидные рециркуляторы. Провели полную дезинфекцию и поверхностей и воздуха. В общем , я очень довольна!</div>
                        <div class="name">Анастасия Цветкова</div>
                    </div>
                    </div-->
                    <div class="item">
                        <div class="comment">
                            <div class="img">
                                <img src="images/rev5.jpg" alt="">
                            </div>
                            <div class="text">Давно искала помощник по хозяйству. И вот, наконец, нашла clean4u. Пришли 2 девушки, принесли все своё: пылесос, средства, тряпки и тд. спросили, в каком порядке мыть, переоделись и одновременно вымыли все за 3 часа! При этом небольшую мебель (тумбочки и комоды) отодвигали, мыли под ними, под кроватью, на шкафах и тд. Вообще очень круто! Сама я так точно не умею, а может уже и не хочу, ведь есть возможность позвать на помощь там, где вам сложно, и делать самим то, что доставляет радость.</div>
                            <div class="name">Наталия</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="comment">
                            <div class="img">
                                <img src="images/rev6.jpg" alt="">
                            </div>
                            <div class="text">Волшебницы clean4u вчера превратили мой дом в настоящий 5* отель!!!! ?? ?? Я и забыла, что в квартире может быть так чисто ?? Вычистили каждый уголок ??, отмыли все загрязнения даже в самых сложных местах ?, разобрали завалы ??, отхимчистили мебель ??! Вернулась домой, а воздух - будто в лесную чащу зашла! ???? Я всем искренне рекомендую позвать этих фей к себе домой, если хотите вспомнить, как выглядела ваша квартира в первозданной чистоте! ?? Этим девочкам можно доверять на все 100%!</div>
                            <div class="name">Ольга Кузьмина</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="comment">
                            <div class="img">
                                <img src="images/rev7.jpg" alt="">
                            </div>
                            <div class="text">Дома - идеальная чистота. Сегодня к нам приходили клинеры из _ и привели в порядок всю квартиру. Сделали чистку дивана, вымыли все средствами с пробиотиками, продезинфицировали все бактерицидными лампами ?????? Нанотехнологии дошли и до нашей квартиры. А ещё у них очень вежливый персонал ?? Рекомендую этот сервис мамам, освобождайте себя иногда от уборки, отдохните, пусть за вас сделают домашнюю работу - профессионалы!</div>
                            <div class="name">Филарета Верба</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="comment">
                            <div class="img">
                                <img src="images/rev8.jpg" alt="">
                            </div>
                            <div class="text">
                                Как здорово, что есть волшебники и как же жалко, что не все желания так легко сбываются. <br />
                                Когда хочется посвятить времч семье, детям или себе в конце концов, а дел по дому миллион, то просто вызывайте
                                настоящих волшебниц из клининговой компании Clean4U!<br />
                                Они сделают всю работу по дому за вас, а вам останется наслаждаться... в моем случае кофе и книгой<br />
                                Девочки рекомендую _ , чтоб отдыхать немного от домашней суеты
                            </div>
                            <div class="name">Евгения</div>
                            <div class="desc">Блогер</div>
                        </div>
                    </div>
                    <!--div class="item">
                    <div class="comment">
                        <div class="img"><img src="images/rev9.jpg" alt=""></div>
                        <div class="text">Я в таком восторге от работы милых девушек из клининговой компании _, что не могу не рассказать вам о них! Поводом обратится в клининг изначально стали окна, которые я никак не могу вымыть сама. Нет, мне не сложно. Но я всегда дома с детьми одна, а на улице не май месяц, хоть и начало октября. Заодно с мытьем окон решила попробовать новую программу у _ "Здоровый малыш". Помимо основной уборки в неё входит ещё дезинфекция всех поверхностей, что при наличии детей в доме, согласитесь, актуально. Когда я увидела в дверях трех девушек, не смогла сдержать удивления "у нас вроде маленькая квартира, а вас так много!" На что девушки ответили "Нам сказали, что у вас детки, надо все быстро сделать)". Вот это я понимаю клиентоориентированность! _, спасибо за отличный сервис и современные технологии!
                        </div>
                        <div class="name">Ирина Закамскова</div>
                        <div class="desc">Блогер</div>
                    </div>
                    </div-->
                    <div class="item">
                        <div class="comment">
                            <div class="img">
                                <img src="images/rev10.jpg" alt="">
                            </div>
                            <div class="text">
                                сегодня у нас была фея чистоты из _ . Все чисто и качественно! Если уборка понравилась, можно приглашать одного и того же клинера, что не маловажно. Ну, а так же, оформление уборки через агентство, всегда спокойствие для клиента. Так как компания несет ответственность за каждого работника, что опять же не маловажно!<br />
                                В общем, если в поиске помощницы по дому, то рекомендую обратить внимание на такой сервис.
                            </div>
                            <div class="name">Лариса</div>
                            <div class="desc">Блогер</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="comment">
                            <div class="img">
                                <img src="images/rev12.jpg" alt="">
                            </div>
                            <div class="text">
                                Вернуться домой, практически в стерильную квартиру... спасибо _ я в вас влюблена! Большое спасибо тем девочкам которые были у нас <br />
                                Особенно меня поймут работающие мамочки- голова не болит как и когда все в выходные успеть - весь день для себя и для детей а сколько запчастей от лего и прочих мелочей "нашлось". <br />
                                Ещё и приятный сюрприз оставили.
                            </div>
                            <div class="name">Ольга</div>
                            <div class="desc">Постоянный клиент</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="comment">
                            <div class="img">
                                <img src="images/rev14.jpg" alt="">
                            </div>
                            <div class="text">
                                Хочу выразить огромную благодарность компании Clean4U за прекрасную уборку моей квартиры! Вы бы видели, какой у нас чистый пол на кухне!!! Огромное спасибо за вымытые стены, кухню, мне очень понравилось, как быстро и качественно все было сделано. Сотрудники Clean4U выполнили работу на 5+, а главное, все качественно ! Безумно понравилось, что все были в форме, шапочках, сменой обуви, бахилах и со своим инвентарем! Полное внимание к клиенту! Спасибо вам огромное! Успехов и процветания!
                            </div>
                            <div class="name">Леся Персикова</div>
                            <div class="desc">Блогер</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="comment">
                            <div class="img">
                                <img src="images/rev15.jpg" alt="">
                            </div>
                            <div class="text">
                                Женщина без помощников - вынос мозга. Честно! Что бы я делала без Clean4u. Если честно, уследить за своими не так просто, у Алексы желание открывать все шкафы, все везде раскидывать раз в неделю заказываю уборку и это мое спасение. А с clean4u все идеально чисто! они реально Лучшие. Кстати, в детской clean4u сделали нам специальную обеззараживающую чистку, это ооочень !
                            </div>
                            <div class="name">Яцковская Яна</div>
                            <div class="desc">Модель</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="comment">
                            <div class="img">
                                <img src="images/rev16.jpg" alt="">
                            </div>
                            <div class="text">
                                Знакомьтесь ,это Катюша из лучшей клиник службы Москвы clean4u ‼Девчонки прибрались в нашей квартире так ,что не одной пылинки и соринки нигде не найти !
                                Убрали известковый налёт в три счета!<br />
                                Теперь квартира блестит и сияет!!<br />
                                Я в шоке от такой чистоты и ваших золотых ручек! Даже вывели все пятна на матрацах и избавили их от пыли. Дезинфекция полная!<br />
                                Девчонки clean4u всегда придут на помощь, когда совсем не хватает сил ,времени и возможности. Запомните, лучше этих чистюль не найти. Пишите им и они обязательно приведут вашу квартиру или дом в идеальный порядок.
                            </div>
                            <div class="name">Александра Артемова</div>
                            <div class="desc">Телеведущая</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="comment">
                            <div class="img">
                                <img src="images/rev17.jpg" alt="">
                            </div>
                            <div class="text">
                                По моему занудному исследованию рынка Clean4U сейчас самые продвинутые : у них - жёсткие чек-листы по уборке , есть система обучения Клинеров, шикарный сервис по приёму заявки, контроль качества на следущий день и адекватные цены. А ещё - крутой Инстаграм и... можно выбрать Клинера , который западёт в душу ! Очень хвалю !!!
                            </div>
                            <div class="name">Елена</div>
                            <div class="desc">постоянный клиент</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="comment">
                            <div class="img">
                                <img src="images/rev18.jpg" alt="">
                            </div>
                            <div class="text">
                                Как все таки важно правильно распределять время! теперь в уборке квартиры мне помогают Clean4U спасибо Вам большое, никогда так качественно чисто у нас никто не убиралсядаже сделали специальную дезинфекцию детских комнат специальными аппаратами и средствами "здоровый малыш" , мелкие как раз все переболели по очереди! А я успела по своим личным делам! Отличные рекомендации от меня Clean4U.
                            </div>
                            <div class="name">Екатерина Шохина</div>
                            <div class="desc">
                                чемпионка мира по фитнес-бикини
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="comment">
                            <div class="img">
                                <img src="images/rev21.jpg" alt="">
                            </div>
                            <div class="text">
                                Клинеров круче, чем у _ я ещё не встречала!
                                Это про то, когда заходишь в квартиру, а там пахнет чистотой, – ты её правда чувствуешь.
                                Придраться вообще не к чему, потому что сервис подобрал только лучшие материалы и персонал.
                                Ребята, вы волшебники! ??
                            </div>
                            <div class="name">Александра Буримова</div>
                            <div class="desc">фотограф</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="comment">
                            <div class="img">
                                <img src="images/rev22.jpg" alt="">
                            </div>
                            <div class="text">
                                Я выбрала актуальный для нас тип уборки- «здоровый малыш».
                                Дополнительно к стандартной уборке туда будет входить всякого рода дезинфекция и обработка ультрафиолетовым пылесосом,
                                очистка воздуха и его озонирование и куча ещё всяких примочек.
                                #СмитЛофт сияет Особенно кухня, к плите даж боюсь подходить такая она идеальная стала, сижу голодаю!В общем, мы все довольны,
                                ПС фирменные наклейки тоже пригодились для игры с #ЛилСмит'ом, Так мы и веселились пока шла уборка

                            </div>
                            <div class="name">Саша Смит</div>
                            <div class="desc">блоггер</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="comment">
                            <div class="img">
                                <img src="images/rev23.jpg" alt="">
                            </div>
                            <div class="text">
                                А пока мы ездили по гостям) у нас дома трудились феи из _ ??в квартире прям пахнет
                                чистотой??O всё просто идеально убрано, не к чему придраться?? продезинфицировали нам сантехнику)
                                и даже горшки Марка, которыми он ещё не пользуется?? вобщем мы довольны на 200%,
                                спасибо большоеO _
                            </div>
                            <div class="name">Юлия Соколовская</div>
                            <div class="desc"></div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div id="page1-block7">
        <div class="centered">

            <div class="page1-carousel page1-carousel2">
                <div class="items">
                    <div class="item">
                        <a href="http://www.ukgu.ru/" target="_blank"><img src="images/part2.jpg" alt=""></a>
                    </div>
                    <div class="item">
                        <a href="http://studio-84.ru/" target="_blank"><img src="images/part1.jpg" alt=""></a>
                    </div>
                    <div class="item">
                        <a href="http://www.lukeren.ru/" target="_blank"><img src="images/part3.jpg" alt=""></a>
                    </div>
                    <div class="item">
                        <a href="http://drviki.ru/" target="_blank"><img src="images/part4.jpg" alt=""></a>
                    </div>
                    <div class="item">
                        <a href="http://poshivshtory.ru/" target="_blank"><img src="images/part5.jpg" alt=""></a>
                    </div>
                    <div class="item">
                        <a href="http://www.ebonyandco.ru/" target="_blank"><img src="images/part6.jpg" alt=""></a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="page1-block8">
        <div class="centered">

            <div class="page1-title1">
                Уборка квартиры от 1580 рублей<br /><span style="font-size: 0.6em; color: #fff;">При заказе поддерживающей уборки 1 комнатной квартиры раз в неделю</span>
            </div>
            <div class="line2">
                <a href="/public/order" class="btn"><i></i><span>Заказать уборку</span></a>
            </div>

        </div>
    </div>

    <div class="clear"></div>

</div>