
@{
    ViewData["Title"] = "Cleaning";
}


<script src="~/js/script-home.js"></script>
<!-- НОВЫЕ ФАЙЛЫ ДЛЯ ЭТОЙ СТРАНИЦЫ -->
<link href="~/css/style-page1.css" rel="stylesheet">
<link href="~/js/owl-carousel/owl.carousel.css" rel="stylesheet">
<link href="~/js/featherlight/featherlight.css" rel="stylesheet">
<link href="~/js/youtubebackground/style.css" rel="stylesheet">

<script src="~/js/owl-carousel/owl.carousel.min.js"></script>
<script src="~/js/featherlight/featherlight.js"></script>
<script src="~/js/youtubebackground/jquery.youtubebackground.js"></script>
<script src="~/js/backstretch/jquery.backstretch.min.js"></script>
<script src="~/js/jquery.cookie/jquery.cookie.js"></script>
<script src="~/js/script-page1.js"></script>

<div class="centered">
    <div id="page1-block1" data-video-id="8gQf50eWcu8">

        <div class="inner">
            <h1>Премиум уборка</h1>
            <h1>квартир</h1>
            <h1>коттеджей</h1>
            <h1>таунхаусов</h1>
            <h1>офисов</h1>
            <h1>
                <a href="tel:+74953696808" style="color: #fff; text-decoration: none;"><i class="fa fa-phone"></i> +7 (495) 3-696-808</a>
            </h1>
            <h1>
                Чисто для <br> <span data-words="тебя|вас|всех"></span>
            </h1>
            <a href="/calculator" class="btn"><i></i><span>Рассчитать стоимость<br />уборки</span></a>

        </div>

    </div>

    <div id="page1-block2">
        <div class="centered">

            <ul>
                <li>
                    <div class="img">
                        <img src="images/page1/block2-1.png" alt="">
                    </div>
                    <strong>Удобное <br />для Вас время</strong>
                    <p>Точно в установленное время Исполнитель будет у Вашей двери со всем необходимым инвентарем и хорошим настроением</p>
                </li>
                <li>
                    <div class="img">
                        <img src="images/page1/block2-3.png" alt="">
                    </div>
                    <strong>Только проверенные <br />специалисты</strong>
                    <p>Все наши исполнители проходят тщательный отбор и проверку службой безопасности. Мы обучаем их в лучших школах клининга и строго следим за качеством их работы</p>
                </li>
                <li>
                    <div class="img">
                        <img src="images/page1/block2-2.png" alt="">
                    </div>
                    <strong>Экологичная уборка <br />пробиотиками</strong>
                    <p>
                        Наши моющие средства не имеют аналогов в мире. Они оздоравливают пространство в Вашем Доме, заполняя поверхности полезными бактериями, сокращая количество респираторных заболеваний и аллергий
                    </p>
                </li>
                <li>
                    <div class="img">
                        <img src="images/page1/block2-4.png" alt="">
                    </div>
                    <strong>Самый честный <br />подход</strong>
                    <p>Вы платите за выполненную работу. Если Вас что-то не устроило, мы обязательно найдем решение ситуации и будем работать до тех пор, пока результат Вас полностью не удовлетворит</p>
                </li>
            </ul>

        </div>
    </div>
    <div id="page1-block2-1">
        <div class="centered">
            <div class="page1-title1">Стоимость услуг</div>

            <ul>
                <li>
                    <div class="img">
                        <img src="images/page1/block3-1.png" alt="">
                    </div>
                    <span>Уборка квартиры <a href="http://clean4u.ru/public/faq/17" style="font-size: 0.7em; color: #fff;">что входит?</a></span>
                    <p>
                        1 комнатная <b>1980</b> руб.<br />
                        2 комнатная <b>2480</b> руб.<br />
                        3 комнатная <b>2980</b> руб.<br />
                        4 комнатная <b>3680</b> руб.<br />
                        5 комнатная <b3980b> руб.<br /><br />
                        Здоровый малыш +40% к стоимости<br />
                        Здоровый питомец +40% к стоимости<br /><br />
                        Генеральная уборка 90р. кв. метр<br />
                        Уборка после ремонта 110р. кв. метр<br />
                    </p>
                </li>
                <li>
                    <div class="img">
                        <img src="images/page1/block3-2.png" alt="">
                    </div>
                    <span>Уборка дома <a href="http://clean4u.ru/public/faq/65" style="font-size: 0.7em; color: #fff;">что входит?</a></span>
                    <p>
                        Разовая уборка 50р. кв. метр<br />
                        Раз в месяц 45р. кв. метр<br />
                        Раз в две недели 40р. кв. метр<br />
                        Раз в неделю 35р. кв. метр<br />
                        Выезд за пределы МКАД 30р. км.<br /><br />
                        Здоровый малыш +40% к стоимости<br />
                        Здоровый питомец +40% к стоимости<br /><br />
                        Генеральная уборка 90р. кв. метр<br />
                        Уборка после ремонта 110р. кв. метр<br />
                    </p>
                </li>
               <li>
                    <div class="img">
                        <img src="images/page1/block3-4.png" alt="">
                    </div>
                    <span>Дополнительные опции</span>
                    <p>

                        Доставить ключи <b>300р</b>.<br />
                        Холодильник <b>550р</b>.<br />
                        Духовка <b>550р</b>.<br />
                        Внутри кухонных шкафов <b>600р</b>.<br />
                        Помыть посуду <b>300р</b>.<br />
                        Внутри микроволновки <b>350р</b>.<br />
                        Глажка <b>600р</b>.<br />
                        Окна <b>350р</b>.<br />
                        Балконы <b>600р</b>.<br />
                        Доп. санузел <b>500р</b>.
                    </p>
                </li>
            </ul>
            <div style="text-align: center; margin: 25px;">
                <a href="/calculator" class="btn"><i></i><span>Заказать уборку</span></a>
            </div>
        </div>
    </div>
    
    <div id="page1-block5" data-images="images/page1/background-slider/1.jpg,images/page1/background-slider/2.jpg">
        <div class="centered">

            <div class="text">
                <div class="line2">
                    Вы <span>довольны</span>. Мы <span>счастливы</span>.
                </div>
            </div>

        </div>
    </div>

    <div id="page1-block8">
        <div class="centered">

            <div class="page1-title1">
                Уборка квартиры от 1580 рублей<br /><span style="font-size: 0.6em; color: #fff;">При заказе поддерживающей уборки 1 комнатной квартиры раз в неделю</span>
            </div>
            <div class="line2">
                <a href="/calculator" class="btn"><i></i><span>Заказать уборку</span></a>
            </div>

        </div>
    </div>

    <div class="clear"></div>

</div>