
@{
    ViewData["Title"] = "About";
}
<script src="js/script-about.js"></script>


    <div class="centered">
        <div class="centered">
            <div class="block-about-icons">
                <div class="item">
                    <div class="inner">
                        <div class="img"><span style="font-weight: 700;">Clean4u - ЧИСТО ДЛЯ ВАС&nbsp;</span></div>
                        <div class="title" style="height: 25px;"><br></div><div class="text" style="height: 126px;"><p></p><p></p></div>
                    </div>
                </div>
                <div class="item">
                    <div class="inner">
                        <div class="img"><img src="/images/about/2.png" alt=""></div>
                        <div class="title" style="height: 25px;">
                            <h6>
                                <b style="mso-bidi-font-weight:normal">
                                    С НАМИ ЛЕГКО
                                    ДОГОВОРИТЬСЯ&nbsp;
                                </b>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="inner">
                        <div class="img"><img src="/images/about/3.png" alt=""></div>
                        <div class="title" style="height: 25px;"><p class="MsoNormal"><b style="mso-bidi-font-weight:normal">CLEAN4U В ЛИЦАХ&nbsp;</b></p></div>
                    </div>
                </div>
                <div class="item">
                    <div class="inner">
                        <div class="img"><img src="/images/about/4.png" alt=""></div>
                        <div class="title" style="height: 25px;">
                            <p class="MsoNormal">
                                <b style="mso-bidi-font-weight:normal">
                                    НАШИ НЕВИДИМЫЕ
                                    ПОМОЩНИКИ ПРОБИОТИКИ&nbsp;
                                </b>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="inner">
                        <div class="img"><img src="/images/about/5.png" alt=""></div>
                        <div class="title" style="height: 25px;">
                            <p class="MsoNormal">
                                <b style="mso-bidi-font-weight:normal">
                                    ГАРАНТИРОВАННАЯ
                                    БЕЗОПАСНОСТЬ&nbsp;
                                </b>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="inner">
                        <div class="img"><img src="/images/about/6.png" alt=""><b>ГАРАНТИЯ КАЧЕСТВА&nbsp;</b></div>
                        <div class="text" style="height: 126px;"><p class="MsoNormal"><br></p></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>















































            <div class="clear"></div>
        </div>
        <br><br>
        <div class="block-about-contacts">
            <div class="title">Контактная информация</div>
            <div class="block-style2">
                <div class="contacts">
                    <table>
                        <tbody>
                            <tr>
                                <th>Email</th>
                                <td><a href="mailto:feedback@clean4u.ru">info@clean4u.ru</a></td>
                            </tr>
                            <tr>
                                <th>Телефон</th>
                                <td>+7 (926) 419-85-06</td>
                            </tr>
                            <tr>
                                <th>Адрес</th>
                                <td>ул. Ра, д 214 к 15 офис 307<br> Москва, &nbsp;Яу Т</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="social">
                    <p>Подписывайтесь на нас в социальных сетях и узнавайте первыми о новых предложениях и скидках</p>
                    <div class="items">
                        <a class="vk" href="https://vk.com/clean_4_u"></a>
                        <a class="fb" href="https://www.facebook.com/clean4u.ru/"></a>
                        <a class="ig" href="https://www.instagram.com/_clean4u_/"></a>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>


        <div class="clear"></div>
    </div>
