<div id="footer">
    <div class="centered">
        <div class="footer-part1">
            <div class="footer-part1-col1">
                <!-- СОЦСЕТИ В ФУТЕРЕ -->
                <div class="footer-social">
                    <a class="vk" href="https://vk.com/clean_4_u"></a>
                    <a class="fb" href="https://www.facebook.com/clean4u.ru/"></a>
                    <a class="ig" href="https://www.instagram.com/_clean4u_/"></a>
                </div>
            </div>
            <div class="footer-part1-col2">
                <!-- ПЕРВОЕ МЕНЮ В ФУТЕРЕ -->
                <div class="footer-nav1">
                    <ul>
                        <li><a href="http://clean4u.ru/public/about">О сервисе</a></li>
                        <li><a href="http://clean4u.ru/public/faq">Типы уборок</a></li>
                    </ul>
                    <ul>
                        <li><a href="http://clean4u.ru/public/jobs">Работа в Clean4U</a></li>
                        <li><a href="http://clean4u.ru/public/certificates">Сертификаты</a></li>

                    </ul>
                    <ul>
                        <li><a href="http://clean4u.ru/public/articles">Статьи</a></li>
                        <li><a href="http://clean4u.ru/public/partners">Наши партнеры</a></li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="footer-part2">
            <div class="footer-part2-col1">
                <p>+7 (495) 3-696-808 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:info@clean4u.ru">info@clean4u.ru</a></p>
            </div>
            <!-- КОПИРАЙТЫ -->
            <div class="footer-part2-col2">
                <div class="footer-copy">
                    © Clean4u, 2016 - @DateTime.Now.Year
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>