<div id="header">
    <div class="centered">
        <div class="header-col1">
            <!-- ЛОГОТИП -->
            <a href="/" class="header-logo">
                <img src="~/images/logo.png" alt="">
            </a>
        </div>
        <div class="header-col2">
            <!-- МЕНЮ В ШАПКЕ -->
            <a href="tel:+74953696808" class="phone"></a>
            <div class="header-nav">
                <ul>
                    <li><a href="/#page1-block2-1">Цены</a></li>
                    <li><a href="/about">О сервисе</a></li>
                    <li><a href="/cleaningtypes">Типы уборок</a></li>
                    <li><a href="/calculator">Заказать уборку</a></li>
                </ul>
            </div>
            <div class="header-toggle">
                МЕНЮ
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div> 