<div id="header">
    <div class="centered">
        <div class="header-col1">
            <!-- ЛОГОТИП -->
            <a href="http://clean4u.ru/public" class="header-logo">
                <img src="http://clean4u.ru/public/images/logo.png" alt="">
            </a>
        </div>
        <div class="header-col2">
            <!-- МЕНЮ В ШАПКЕ -->
            <div class="header-nav">
                <ul>
                    <li><a href="http://clean4u.ru/public/#page1-block2-1">Цены</a></li>
                    <li><a href="http://clean4u.ru/public/about">О сервисе</a></li>
                    <li><a href="http://clean4u.ru/public/process">Процесс уборки</a></li>
                    <li><a href="http://clean4u.ru/public/faq">Типы уборок</a></li>
                </ul>
            </div>

            <!-- КНОПКА В ШАПКЕ -->
            <div class="header-btn">
                <a href="http://clean4u.ru/public/users/login"><i class="fa fa-sign-in"></i> Войти</a>
            </div>
            <a href="tel:+74953696808" class="phone"></a>
            <div class="header-toggle">
                МЕНЮ
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div> 