
@{
    ViewData["Title"] = "Index";
}

<script src="~/js/script-about.js"></script>

<div class="centered">
    @*<div class="block-faq-form-search">
        <form action="" method="get">
            <input type="text" name="q" value="" placeholder="Введите запрос...">
            <button><i class="fa fa-search"></i></button>
        </form>
    </div>*@

    <div class="block-faq-list-outer">
        <div class="block-faq-list">
            <div class="item">
                <div class="inner">
                    <div class="title"><a href="/cleaningtypes/viewtype">Уборка квартир</a></div>
                    <ul style="width: 65%">
                        <li>
                            <a href="/cleaningtypes/viewtype">Стандартная поддерживающая уборка</a>
                        </li>
                        <li>
                            <a href="/cleaningtypes/viewtype">Холостяк</a>
                        </li>
                        <li>
                            <a href="/cleaningtypes/viewtype">Здоровый Малыш</a>
                        </li>
                        <li>
                            <a href="/cleaningtypes/viewtype">После пожара</a>
                        </li>
                        <li>
                            <a href="/cleaningtypes/viewtype">Генеральная уборка</a>
                        </li>
                        <li>
                            <a href="/cleaningtypes/viewtype">После ремонта или строительства</a>
                        </li>
                        <li>
                            <a href="/cleaningtypes/viewtype">После вечеринки</a>
                        </li>
                    </ul><ul style="width: 35%">
                        <li>
                            <a href="/cleaningtypes/viewtype">«Здоровый питомец»</a>
                        </li>
                        <li>
                            <a href="/cleaningtypes/viewtype">Пакет эксклюзив</a>
                        </li>
                        <li>
                            <a href="/cleaningtypes/viewtype">Мытье окон</a>
                        </li>
                        <li>
                            <a href="/cleaningtypes/viewtype">Химчистка</a>
                        </li>
                        <li>
                            <a href="/cleaningtypes/viewtype">Quick Nano</a>
                        </li>
                        <li>
                            <a href="/cleaningtypes/viewtype">Уход за VIP - гардеробом</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <div class="inner">
                    <div class="title"><a href="/cleaningtypes/viewtype">Дополнительно</a></div>
                    <ul style="width: 65%">
                        <li>
                            <a href="/cleaningtypes/viewtype">Видеонаблюдение за процессом уборки</a>
                        </li>
                        <li>
                            <a href="/cleaningtypes/viewtype">С какими средствами мы работаем?</a>
                        </li>
                    </ul><ul style="width: 35%">
                        <li>
                            <a href="/cleaningtypes/viewtype">Кто работает в нашей компании?</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <div class="inner">
                    <div class="title"><a href="/cleaningtypes/viewtype">Уборка коттеджей и таунхаусов</a></div>
                    <ul style="width: 65%">
                        <li>
                            <a href="/cleaningtypes/viewtype">Генеральная уборка коттеджа</a>
                        </li>
                        <li>
                            <a href="/cleaningtypes/viewtype">Повседневная уборка коттеджей</a>
                        </li>
                    </ul><ul style="width: 35%">
                        <li>
                            <a href="/cleaningtypes/viewtype">Уборка коттеджа после ремонта или строительства</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="block-faq-after">
        <div class="block-style2">
            <p>Все еще остались вопросы?</p>
            <p><a href="mailto:info@clean4u.ru">Пишите</a> нам или звоните: +7 (926) 419-85-06</p>
        </div>
    </div>

    <div class="clear"></div>
</div>
