
@{
    ViewData["Title"] = "ViewType";
}

<script src="js/script-about.js"></script>

<div class="centered">
    <div id="content">
        <div id="content-inner">

            <div class="block-style1">
                <div class="block-style1-part1">

                    <div class="block-style1-title">Стандартная поддерживающая уборка</div>

                </div>

                <div class="block-style1-part2 formatted">
                    <img src="/public/images/u1.jpg" class="circled-l">

                    <p></p><p class="MsoNormal">Набор услуг в рамках поддерживающей уборки:</p><p class="MsoNormal">Что мы сделаем в жилых комнатах:</p><p class="MsoNormal"></p><ol><li><span style="line-height: 1.54;">очистим все доступные поверхности</span><br></li><li><span style="line-height: 1.54;">очистим и продезинфицируем выключатели, розетки и дверные ручки</span><br></li><li><span style="line-height: 1.54;">протрем двери и дверные проемы</span><br></li><li><span style="line-height: 1.54;">очистим до блеска зеркала и стеклянные поверхности</span><br></li><li><span style="line-height: 1.54;">сменим постельное белье и заправим постель как в пятизвездочной гостинице</span><br></li><li><span style="line-height: 1.54;">аккуратно соберем и сложим одежду</span><br></li><li><span style="line-height: 1.54;">заботливо расставим вещи&nbsp;</span><br></li><li><span style="line-height: 1.54;">вытрем пыль с бытовой техники</span><br></li><li><span style="line-height: 1.54;">протрем подоконники и радиаторы</span><br></li><li><span style="line-height: 1.54;">пропылесосим ковры</span><br></li><li><span style="line-height: 1.54;">пропылесосим, а затем вымоем полы и плинтусы</span><br></li><li><span style="line-height: 1.54;">соберем и вынесем весь мусор</span><br></li></ol><p></p><p class="MsoNormal"><img src="/public/images/u2.jpg" class="circled-r">Что мы сделаем в санузлах:</p><p class="MsoNormal"></p><ol><li><span style="line-height: 1.54;">протрем все доступные поверхности</span><br></li><li><span style="line-height: 1.54;">помоем и продезинфицируем выключатели, розетки и дверные ручки</span><br></li><li><span style="line-height: 1.54;">протрем двери и дверные проемы</span><br></li><li><span style="line-height: 1.54;">вымоем и продезинфицируем всю сантехнику</span><br></li><li><span style="line-height: 1.54;">очистим до блеска зеркала и стеклянные поверхности</span><br></li><li><span style="line-height: 1.54;">пропылесосим коврик</span><br></li><li><span style="line-height: 1.54;">пропылесосим пол и вымоем его</span><br></li><li><span style="line-height: 1.54;">протрем плинтусы</span><br></li><li><span style="line-height: 1.54;">протрем все шкафы с внешней стороны</span><br></li><li><span style="line-height: 1.54;">соберем и вынесем мусор, заменим мусорный пакет</span><br></li></ol><p></p><p class="MsoNormal"><img src="/public/images/u3.jpg" class="circled-l">На кухне:</p><p class="MsoNormal"></p><ol><li><span style="line-height: 1.54;">протрем все доступные поверхности</span><br></li><li><span style="line-height: 1.54;">протрем и продезинфицируем выключатели и дверные ручки</span><br></li><li><span style="line-height: 1.54;">вымоем столешницу и фасады кухни снаружи</span><br></li><li><span style="line-height: 1.54;">вымоем бытовую технику снаружи</span><br></li><li><span style="line-height: 1.54;">очистим раковину</span><br></li><li><span style="line-height: 1.54;">вымоем посуду (до 20ти минут включено)</span><br></li><li><span style="line-height: 1.54;">очистим от жира кухонную плиту</span><br></li><li><span style="line-height: 1.54;">протрем мебель снаружи</span><br></li><li><span style="line-height: 1.54;">пропылесосим и вымоем пол</span><br></li><li><span style="line-height: 1.54;">вынесем мусор</span><br></li></ol><p></p><p class="MsoNormal"><img src="/public/images/u4.jpg" class="circled-r">В коридоре:</p><p class="MsoNormal"></p><ol><li><span style="line-height: 1.54;">протрем все доступные поверхности</span><br></li><li><span style="line-height: 1.54;">очистим до блеска зеркала и стеклянные поверхности</span><br></li><li><span style="line-height: 1.54;">пропылесосим коврик</span><br></li><li><span style="line-height: 1.54;">пропылесосим и вымоем пол</span><br></li><li>расставим обувь</li></ol><div><div><span style="font-family: Calibri, sans-serif; font-size: 14.6667px; line-height: 16.8667px;">Что мы сделаем дополнительно по предварительному заказу клиента:</span></div><div><ol><li><span style="font-family: Calibri, sans-serif; font-size: 14.6667px; line-height: 16.8667px;">вымоем окна</span><br></li><li><span style="font-family: Calibri, sans-serif; font-size: 14.6667px; line-height: 16.8667px;">приберемся на лоджии/балконе</span><br></li><li><span style="font-family: Calibri, sans-serif; font-size: 14.6667px; line-height: 16.8667px;">очистим микроволновую печь внутри</span><br></li><li><span style="font-family: Calibri, sans-serif; font-size: 14.6667px; line-height: 16.8667px;">очистим холодильник внутри</span><br></li><li><span style="font-family: Calibri, sans-serif; font-size: 14.6667px; line-height: 16.8667px;">очистим духовой шкаф внутри</span><br></li><li><span style="font-family: Calibri, sans-serif; font-size: 14.6667px; line-height: 16.8667px;">приберёмся внутри шкафов</span><br></li><li><span style="font-family: Calibri, sans-serif; font-size: 14.6667px; line-height: 16.8667px;">погладим одежду и белье</span><br></li><li><span style="font-family: Calibri, sans-serif; font-size: 14.6667px; line-height: 16.8667px;">вымоем посуду</span><br></li><li><span style="font-family: Calibri, sans-serif; font-size: 14.6667px; line-height: 16.8667px;">заберём и привезем ключи по указанному адресу и отдадим лично в руки</span><br></li><li><span style="font-family: Calibri, sans-serif; font-size: 14.6667px; line-height: 16.8667px;">наведем порядок в гардеробной</span><br></li></ol></div><div style="font-family: Calibri, sans-serif; font-size: 14.6667px; line-height: 16.8667px;"><br></div></div><p></p>
                    <div class="clear"></div>

                </div>
            </div>

            <div class="block-faq-after" style="margin-top: 30px;">
                <div class="block-style2">
                    <p>Все еще остались вопросы?</p>
                    <p><a href="mailto:info@clean4u.ru">Пишите</a> нам или звоните: +7 (926) 419-85-06</p>
                </div>
            </div>

            <div class="clear"></div>

        </div>
    </div>

    <div id="content-right">
        <div class="block-style2">
            <div class="block-faq-others">
                <div class="title">Похожие статьи</div>
                <ul>
                    <li><a href="http://clean4u.ru/public/faq/16">После вечеринки</a></li>
                    <li><a href="http://clean4u.ru/public/faq/41">&laquo;Здоровый питомец&raquo;</a></li>
                    <li><a href="http://clean4u.ru/public/faq/66">Уход за VIP - гардеробом</a></li>
                    <li><a href="http://clean4u.ru/public/faq/14">Quick Nano</a></li>
                    <li><a href="http://clean4u.ru/public/faq/38">После пожара</a></li>
                    <li><a href="http://clean4u.ru/public/faq/46">Пакет эксклюзив</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>